mixin config-panel({ id = "config-panel" } = {})
    .config-panel.config-panel-js(
        id=id
    )
        .text-input({
            label="Max value:",
            value=maxValue,
        })
        .text-input({
            label="Min value:",
            value=minValue
        })
        .text-input({
            label="Current value:",
            value=currentValue
        })
        .text-input({
            label="Step:",
            value=step
        })
        .toogle({
            label="Vertical/horizontal view:",
            labelChecked="vertical",
            labelUnchecked="horizontal",
            isChecked=isCheckedView
        })
        .toogle({
            label="Float:",
            isChecked=isCheckedFloat
        })
